.reveal h1 {
    font-size: 1.3em;
}

.reveal section img {
    border: 0px none;
    background: none;
}

.reveal section img.whitebg {
    border: 0px none;
    background: white;
}

.reveal a.unobtrusive {
    color: inherit;
}
